<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv9JFaRqO-2up4z1jspEjHWrkPLqWJ8wg</string>
	<key>GCM_SENDER_ID</key>
	<string>201055887327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ads.acessolivreios</string>
	<key>PROJECT_ID</key>
	<string>acessolivre--mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>acessolivre--mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201055887327:ios:08b797e32514c6362aee6a</string>
</dict>
</plist>